name: Continuous Integration

on:
  pull_request:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install

      - name: Run tests with coverage using Jest
        run: npm test -- --coverage

      - name: Check coverage
        run: |
          totalStatements=$(jq -r '[.[] | .statementMap | length] | add' coverage/coverage-final.json)
          coveredStatements=$(jq -r '[.[] | .s[]] | add' coverage/coverage-final.json)
          coveragePercentage=$(bc -l <<< "scale=2; ($coveredStatements / $totalStatements) * 100")
          echo "Total statements: $totalStatements"
          echo "Covered statements: $coveredStatements"
          echo "Coverage is $coveragePercentage%"
          if (( $(bc -l <<< "$coveragePercentage < 70") )); then
            echo "Coverage is below threshold"
            exit 1
          fi
